<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">

<link rel="stylesheet" type="text/css" href="..static/css/style.css" th:href="@{/static/css/style.css}"/>

<title>Registro de usuario</title>

<!-- FUENTE GOOGLE -->
<link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet">


</head>

<body>

<div class="formulario">
	<form method="post" action="/registro">

	<h1 th:text="${texto}">Registrate</h1>

	<div class="primeraFila">
	<div class="input">
	<label>
	<input type="text" placeholder="Nombre" th:value="nombre" th:name="nombre"></label>
	</div>

	<div class="input">
	<label>
	<input type="text" placeholder="Apellidos" th:value="apellidos" th:name="apellidos"></label>
	</div>
	</div>

	<div class="segundaFila">
	<div class="input">
	<label>
	
	
	<input type="email" placeholder="Email" th:value="email" th:name="email"></label>	
	
	
</div>
<div class="dominio">@gmail.com</div>
	</div>

	<div class="terceraFila">
	<div class="input">
	<label>
	<input type="password" placeholder="Password" th:value="password" th:name="password"></label>
	</div>
	</div>


	<div class="cuartaFila">
	<div class="inputPais">
	<label>
	<input type="text" placeholder="Pais" th:value="pais" th:name="pais"></label>
	</div>

	<div class="inputCp">
	<label>
	<input type="text" placeholder="CP" th:value="cp" th:name="cp"></label>
	</div>
	</div>
	
	
		
		
<div class="boton">
<button type="submit" >Enviar</button></div>
</form>
</div>	


</body>
</html>